<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="profile-container">
    <!-- Avatar y nombre -->
    <div class="user-info">
      <ion-avatar (click)="showActionSheet()"> <!-- Añade el evento click -->
        <img *ngIf="avatar; else defaultAvatar" [src]="'data:image/jpeg;base64,' + avatar" />
        <ng-template #defaultAvatar>
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ng-template>
      </ion-avatar>
      <h2>Bienvenido, <span class="username">{{ userName }}!</span></h2>
    </div>

    <!-- Actualizar nombre -->
    <div class="update-section">
      <ion-item>
        <ion-input [(ngModel)]="newUsername" 
                   placeholder="INGRESAR NUEVO NOMBRE"
                   class="custom-input">
        </ion-input>
      </ion-item>
      <ion-button expand="block" 
                  (click)="onUpdateUsername()"
                  class="update-button"
                  color="success">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Actualizar nombre
      </ion-button>
    </div>

    <div class="link-account-section" *ngIf="!isGoogleUser">
      <ion-button expand="block"
                  (click)="linkWithGoogle()"
                  class="link-google-button"
                  color="light">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Vincular cuenta con Google
      </ion-button>
    </div>

    <!-- Botones de acciones -->
    <div class="action-buttons">
      <ion-button expand="block" 
                  (click)="onLogoutButtonPressed()"
                  color="tertiary"
                  class="logout-button">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>

      <ion-button expand="block" 
                  (click)="onDeleteAccount()"
                  color="danger"
                  class="delete-button">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar cuenta
      </ion-button>
    </div>
  </div>
</ion-content>