<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Próximamente</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Próximamente</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner></ion-spinner>
  </div>
  <!-- Error message -->
  <div *ngIf="error && !isLoading" class="ion-padding">
    <ion-text color="danger">
      {{ error }}
    </ion-text>
  </div>
  <!-- Upcoming anime list -->
  <div class="card-grid" *ngIf="!isLoading && !error">
    <ion-card *ngFor="let anime of upcomingAnimes">
      <div [routerLink]="['/anime', anime.mal_id]">
        <img [src]="anime.images.jpg.large_image_url" [alt]="anime.title"/>
        <div class="card-info">
          <h3>{{ anime.title }}</h3>
          <p class="card-status">{{ anime.status }}</p>
          <p class="card-airing-time">Estreno: {{ anime.aired.from | date }}</p>
        </div>
      </div>
      <ion-button 
        fill="clear" 
        class="favorite-button" 
        (click)="toggleFavorite(anime)"
        [class.is-favorite]="isFavorite(anime.mal_id)">
        <ion-icon 
          slot="icon-only" 
          name="heart"
          [class.favorite-active]="isFavorite(anime.mal_id)">
        </ion-icon>
      </ion-button>
    </ion-card>
  </div>
</ion-content>