<ion-header>
  <ion-toolbar>
    <ion-title>
      Animes de Temporada
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Selector de día -->
  <ion-item>
    <ion-label>Día</ion-label>
    <ion-select [(ngModel)]="selectedDay" (ionChange)="filterAnimesByDay()">
      <ion-select-option value="all">Todos</ion-select-option>
      <ion-select-option value="monday">Lunes</ion-select-option>
      <ion-select-option value="tuesday">Martes</ion-select-option>
      <ion-select-option value="wednesday">Miércoles</ion-select-option>
      <ion-select-option value="thursday">Jueves</ion-select-option>
      <ion-select-option value="friday">Viernes</ion-select-option>
      <ion-select-option value="saturday">Sábado</ion-select-option>
      <ion-select-option value="sunday">Domingo</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Loading spinner -->
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner></ion-spinner>
  </div>

  <!-- Error message -->
  <ion-item *ngIf="error" lines="none">
    <ion-label color="danger" class="ion-text-center">
      {{ error }}
    </ion-label>
  </ion-item>

  <!-- Anime list -->
  <div class="card-grid" *ngIf="!isLoading && !error">
    <ion-card *ngFor="let anime of filteredAnimes" [routerLink]="['/anime', anime.mal_id]">
      <img [src]="anime.images.jpg.large_image_url" [alt]="anime.title"/>
      <div class="card-info">
        <h3>{{ anime.title }}</h3>
        <p class="card-status">{{ anime.status }}</p>
        <p class="card-airing-time">Release time: {{ anime.broadcast.time }}</p>
      </div>
    </ion-card>
  </div>
</ion-content>